#home {
    position: relative;

    img {
        position: absolute;
        top: 20px;
        left: 80px;
        object-fit: cover;
        width: 30%;
        height: auto;
        z-index: 33;
    }
}

@media (max-width: 1199px) {
    #home {
        img {
            top: 40px; 
            left: 60px; 
        }
    }
}

@media(min-width: 900px) and (max-width: 992px) {
    #home {
        img {
            top: 65px;
            left: 100px;
        }
    }
}
@media(min-width: 835px) and (max-width: 899px) {
    #home {
        img {
            top: 80px;
            left: 70px;
        }
    }
}
@media(min-width: 769px) and (max-width: 834px) {
    #home {
        img {
            top: 85px;
            left: 45px;
        }
    }
}
@media(min-width: 679px) and (max-width: 768px) {
    #home {
        img {
            top: 50px;
            left: 100px;
            width: 28%;
        }
    }
}
@media(min-width: 550px) and (max-width: 678px) {
    #home {
        img {
            top: 80px;
            left: 50px;
            width: 28%;
        }
    }
}


@media (max-width: 549px) {
    #home {
        img {
            top: 105px; // original hero had 85px (85px + 20px from home base)
            left: 10px;
            width: 45%;
        }
    }
}
